/*/* init */

body
{
  background-color  : rgba(0, 0, 50, 1);
  font-family       : Verdana, "Courier New", "Lucida Console";
  font-size         : 14px;
  font-weight       : normal;
  padding           : 0px;
  margin            : 0px;
  overflow          : hidden;
}

.youtube {
  overflow: hidden;
  position:  absolute; 
  bottom: 100px;
  left : 0px;
  height: 38px;
}

.map {
  overflow: hidden;
  position:  absolute; 
  bottom: 0px;
  left : 110px;
}
.facebook {
  overflow: hidden;
  position:  absolute; 
  top: 120px;
  left : 250px;
}
.top {
  overflow: hidden;
  position:  absolute; 
  bottom: 140px;
  left : 340px;
}

div, table, tr, td, th, h1, h2, h3, a, span, p, pre, fieldset, input, textarea, form, img, select
{
  font-family       : Verdana, "Courier New", "Lucida Console";
  font-size         : 14px;
  font-weight       : normal;
  padding           : 0px;
  margin            : 0px;
  color             : #FFF;
}

/* main */

div#main
{
  width             : 480px;
  height            : 320px;
  position          : relative;
  overflow          : hidden;
  background-color  : rgba(0, 0, 0, 1);
  color             : #FFF;
}



div#etalon
{
  top               : 0px;
  position          : absolute;
  overflow          : hidden;
  background-color  : rgba(0, 0, 255, 0.3);
  color             : #FFF;
  font-size         : 50px;
}

#coindesk-widget {
  width             : 172px;
  height            : 67px;
  right: 70px;
  top : 210px;
  position          : absolute;
  overflow          : hidden;
}
/* horloge */

div#horloge
{
  left              : 251px;
  top               : 0px;
  position          : absolute;
  overflow          : hidden;
  background-color  : rgba(0, 0, 0, 1);
  color             : #FFF;
  font-weight       : bold;
  text-align        : center;
}

div.horloge_heure
{
  font-size         : 70px;
  background-color  : rgba(0, 0, 0, 1);
}

div.horloge_date
{
  font-size         : 20px;
  background-color  : rgba(0, 0, 0, 1);
}

span.horloge_grey
{
  color             : #888;
  font-size         : inherit;
}

/* meteo */

div#meteo
{
  left              : 409px;
  top               : 170px;
  position          : absolute;
  background-color: red;
  overflow          : hidden;
  background-color  : rgba(0, 0, 0, 1);
  color             : #FFF;
  font-weight       : bold;
  text-align        : center;
}

div#meteo_black
{
  left              : 409px;
  background-color: red;
  top               : 111px;
  width             : 228px;
  height            : 62px;
  position          : absolute;
  z-index           : 9999;
  background-color  : rgba(0, 0, 0, 1);
}

.deezer-widget-player {
  left              : 20px;
  bottom            : 5px;
  height            : 150px;
  position          : absolute;
  overflow          : hidden;
}

.spotify {
    left              : 0px;
  bottom            : 0px;
  position          : absolute;
  overflow          : hidden;
}
/* ts3 */

div#ts3
{
  left              : 340px;
  bottom            : 10px;
  position          : absolute;
  overflow          : hidden;
  background-color  : rgba(0, 0, 0, 1);
  color             : #FFF;
  font-weight       : bold;
  text-align        : center;
}

td.ts3_user
{
  text-align        : left;
  font-size         : 30px;
  padding-left      : 10px;
}

/* ping */

div#widget-deezer {

 left              : 230px;
  bottom            : 140px;
  position          : absolute;
  overflow          : hidden;
  background-color  : rgba(0, 0, 0, 1);
  width: 10px;
  height: 10px;
}


div#twitter {
  left              : 0px;
  bottom            : 0px;
  position          : absolute;
  overflow          : hidden;
}

div#ping
{
  left              : 230px;
  bottom            : 100px;
  position          : absolute;
  overflow          : hidden;
  background-color  : rgba(0, 0, 0, 1);
}

td.ping
{
  font-size         : 15px;
  text-align        : left;
  border-radius     : 10px;
  padding           : 5px 10px;
  font-weight       : bold;
}

td.ping_up
{
  color             : #00DD00;
}

td.ping_down
{
  background-image  : url('pict/warning.gif');
  color             : #DD0000;;
}

/* vpn */

div#vpn
{
  left              : 550px;
  bottom            : 10px;
  position          : absolute;
  overflow          : hidden;
  background-color  : rgba(0, 0, 0, 1);
  color : #FFF;
}

td.vpn
{
  text-align        : left;
  font-size         : 30px;
  padding           : 5px;
}

img.vpn
{
  width : 20px;
  height : 20px;
}

/* earth */

div#earth
{
  width             : 147px;
  height            : 147px;
  left              : 0px;
  top               : 0px;
  position          : absolute;
  overflow          : hidden;
  background-color  : rgba(0, 0, 0, 1);
}

/* moon */

div#moon
{
  width             : 104px;
  height            : 104px;
  left              : 147px;
  top               : 0px;
  position          : absolute;
  overflow          : hidden;
  background-color  : rgba(0, 0, 0, 1);
}

/* ifstat */

div#ifstat_oberon_up
{
  right             : 20px;
  bottom            : 20px;
  position          : absolute;
  overflow          : hidden;
  background-color  : rgba(0, 0, 0, 1);
}

div#ifstat_oberon_down
{
  right             : 340px;
  bottom            : 20px;
  position          : absolute;
  overflow          : hidden;
  background-color  : rgba(0, 0, 0, 1);
}

/* analytics */

div#analytics
{
  right             : 0px;
  bottom            : 130px;
  position          : absolute;
  overflow          : hidden;
  z-index           : 99999;
  background-color  : rgba(0, 0, 0, 1);
  border            : solid 0px #F00;
}
*/